<!-- views/success.ejs -->
<!doctype html>
<html>
  <head>
    <title><%= user.displayName %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
        body{
          padding-top:70px;
          font-family: 'Roboto', sans-serif;
          background-color: #101214;
          color: #7A7C80;
      }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-primary  text-center"><span class="fa fa-user"></span> Profile Information</h1>
          <div class="row">
            <div class="col-sm-6">
                <div class="well">
                        <p>
                            <!-- <strong>Id</strong>: < %= user.id %><br>
                            <strong>Email</strong>: < %= user.emails[0].value %><br> -->
                            <strong>Name</strong>: <%= user.displayName %>
                        </p>
                        <p>
                          <!-- <strong>Access Token</strong>: < %= creds.accessToken %><br>
                            <strong>Refresh Token</strong>: < %= creds.refreshToken %><br> -->
                        </p>
                        <p>
                          <!-- <a href="/graph_hr?points=600&smoothness=5">Plot Heart Rate</a> -->
                          <a href="/biometrics?window=24&average=1&points=false">Plot Heart Rate</a>
                        </p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html> 